body{
    margin: 0;
    text-align: center;
    font-size: 20px;
}
h1{
  color: #00584b;
    font-family: 'Sacramento', cursive;
    font-size: 75px;
    margin: 50px auto 0 auto;
}
hr{

border-style: dotted;
border-top-style: none;
border-color: grey;
border-width: 5px;
width: 5%;
}
.top-container {
    background-color: #67e3d0;
    position: relative;
    padding: 100px;
    height: 500px;
}
.middle-container{
    background-color:rgb(160, 211, 234) ;
}
.bottom-container{
    background-color: rgb(133, 172, 246);
    height: 100px;
    padding: 50px auto 20px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.model{

    width: 50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height: 2;
}
.full-stack{
  float:right;
  margin-left: 20px;
  border-radius: 30px;
}
.modeling{
  float:left;
  margin-right: 20px;
  border-radius: 30px;
}
.myskills{
    font-size: 2.5rem;
}
.heading3{
  color: rgb(70, 135, 233);
}
.get-in-touch{
  color:rgb(227, 106, 25);
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfc9c;
  background-image: -webkit-linear-gradient(top, #3cfc9c, #9a60cc);
  background-image: -moz-linear-gradient(top, #3cfc9c, #9a60cc);
  background-image: -ms-linear-gradient(top, #3cfc9c, #9a60cc);
  background-image: -o-linear-gradient(top, #3cfc9c, #9a60cc);
  background-image: linear-gradient(to bottom, #3cfc9c, #9a60cc);
  text-decoration: none;
}
.footer-link{
  transition: transform .2s;
  margin-right: 10px;
}
.footer-link:Hover img{
  transform: scale(1.5);
}
.copyright{
  color: #EAF6F6;
}
